{% extends 'flatpages/default.html' %}

{% block title %}
My posts
{% endblock title %}

{% block content %}
<hr>
<!--<form method="GET">-->
<!--    {{ filter.form }}-->
<!--    <input type="submit" value="Найти">-->
<!--</form>-->
<h1> Все посты </h1>

<table style="width: auto; height: auto; text-align: center;" >
           <tr>
               <td> <strong> Название </strong></td>
               <td> <strong> Дата добавления </strong></td>
               <td> <strong> Категория </strong></td>
               <td style="width: auto; height: auto; text-align: center;" > <strong> Текст статьи </strong> </td>
           </tr>


           {% for p in post_list %}
           <tr>
               <td> <a href="{% url 'post' p.id %}">{{ p.title }}</a> </td>
               <td>{{ p.add_time|date:'d M Y' }}</td>
               <td>{{ p.category }}</td>
               <td>{{ p.post_text|truncatewords:20|safe }}</td>
               <td> <a href="{% url 'update_posts' p.id %}"><u> update </u></a> - </td>
               <td> - <a href="{% url 'delete_post' p.id %}"><u> Удалить </u></a> </td>
           </tr>

               <tr>
               {% if p.replies.all %}
               {% for r in p.replies.all %}
                    <table> <td> {{ r.reply_auth }} : {{ r.reply_text }}
                        {% if not r.confirmation %}
                    - <a href="{% url 'confirm_reply' r.id %}"> <u> Принять </u> </a>
                        {% endif %}
                    - <a href="{% url 'delete_reply' r.id %}"> <u> Удалить </u> </a> </td>
                    </table>
               {% endfor %}
               {% endif %}
                </tr>

           {% endfor %}

</table>

{% endblock content %}