{% extends 'flatpages/default.html' %}

{% block title %}
Our posts
{% endblock title %}

{% block content %}
<h1> All posts </h1>

<table>
           <tr>
               <td> Название </td>
               <td> Дата добавления </td>
               <td> Текст статьи </td>
           </tr>


           {% for p in posts %}
           <tr>
               <td>{{ p.title }}
<!--                   <a href="{% url 'post_delete' post.id %}"><u> Delete </u></a>-->
<!--                   <a href="{% url 'post_edit' post.id %}"><u> Edit </u></a>-->
               </td>
               <td>{{ p.add_time|date:'d M Y' }}</td>
               <td>{{ p.post_text|truncatewords:20 }}</td>
           </tr>
           {% endfor %}

</table>

{% endblock content %}